#title {
  margin: 0 auto;
  padding-top: 5vmax;
  // text-align-last: center;
}

#main-glitch {
  background: none;
}

#main-glitch::before,
#main-glitch::after {
  background: none;
}

#main-glitch::before {
  background: none;
}

#main-glitch::after {
  background: none;
}
