#title {
  padding-top: 3vmax;
}

#main-glitch {
  background: none;
}

#main-glitch::before,
#main-glitch::after {
  background: none;
}

#main-glitch::before {
  background: none;
}

#main-glitch::after {
  background: none;
}
