#title {
  margin: 0 auto;
  padding: 7.5vmin;
  text-align-last: center;
}

#main-glitch {
  background: none;
}

#main-glitch::before,
#main-glitch::after {
  background: none;
}

#main-glitch::before {
  background: none;
}

#main-glitch::after {
  background: none;
}
